<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>


<div class="pizza-card col-sm-6 col-md-4">
    <div class="thumbnail pizza-card">
        <img src="<%= pizza.icon %>" alt="Pizza">
        
        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>
        
        <div class="caption">
            <h3><%= pizza.title %></h3>
            <p class='pizza-type'><%= pizza.type %></p>

            <p><%= getIngredientsArray(pizza).join(", ") %></p>
            <div class='row'>
                <% if (pizza.small_size) { %>
                <div class='size-column col-sm-6'>
                    <p><img src='assets/images/size-icon.svg'><%= pizza.small_size.size %></p>
                    <p><img src='assets/images/weight.svg'><%= pizza.small_size.weight %></p>
                    <p class='price'><%= pizza.small_size.price %></p>
                    <p>ГРН</p>
                    <button type="button" class="btn btn-warning" onclick='addToCart("<%= pizza %>","<%= pizza.small_size.size %>")'>Купити</button>
                </div>
                <% } %>
                <% if (pizza.big_size) { %> 
                    <div class='size-column col-sm-6'>
                    <p><img src='assets/images/size-icon.svg'><%= pizza.big_size.size %></p>
                    <p><img src='assets/images/weight.svg'><%= pizza.big_size.weight %></p>
                    <p class='price'><%= pizza.big_size.price %></p>
                    <p>ГРН</p>
                    <button type="button" class="btn btn-warning" onclick='addToCart()'>Купити</button>
                </div>
                <div class='size-column col-lg-6'>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

    
<%$('#all-pizza').find('button').text(parseInt($('#all-pizza').find('button').text())+12) %>